@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    transition: all 0.3s linear;
    border: none; outline: none; 
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background: #e76f51;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: #fff;
}

.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background-color: #f7f7f7;
    border-bottom: 1px solid lightgray;
}

.container-nav .logn{
    font-size: 1.3rem;
    color: #e76f51;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 900;
}


.container-nav .navber .link{
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #fff;
    padding: 0.3em 1rem;
    border-radius: 5px;
    color: #264653;
}

.container-nav .navber .link:nth-of-type(1){
    background-color: #003049;
    color: #fff;
}

.container-nav .navber .link:hover{
    background-color: #003049;
    color: #fff;
}

 .menu{
    font-size: 1.6rem;
    font-weight: bold;
    transition: all 1s linear;
    cursor: pointer;
    display: none;
}


.home{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    flex: 1;
    display: flex;
    justify-content: end;
    position: relative;
}

.home .image img{
    height: 20rem;
}
 
.image .animation img{
    height: 5rem;
}

.image .animation .left{
    position: absolute;
    left: 10rem;
    bottom: 5rem;
    opacity: 1;
    animation-name: iamge-left;
    animation-duration: 3s;
}

@keyframes iamge-left {
    0%   {opacity: .2; left:0px; top:0px;}
    25%  {opacity: .4; left:200px; top:0px;}
    50%  {opacity: .6; left:0px; top:200px;}
    100% {opacity: .8; left:0px; top:0px;}

}

.image .animation .right{
    position: absolute;
    top: 8rem; right: 0rem;
    border: 5px solid #fff;
    border-radius: 50%;
    object-fit:cover;
    width: 5rem; height: 5rem;
    animation-name: iamge-right;
    animation-duration: 3s;
}

@keyframes iamge-right {
    0%   {border: 5px solid #8ecae6;}
    25%  {border: 5px solid #219ebc;}
    50%  {border: 5px solid #457b9d;}
    100% {border: 5px solid #1d3557;}

}


.dec{
    flex: 1;
}

.dec h3{
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    color: #e76f51;
    font-size: 1.5rem;
}

.dec p{
    margin-bottom: 1rem;
    letter-spacing: .1rem;
    line-height: 1.2;
}

.dec button{
    padding: .3rem 2.5rem;
    background-color: #2a9d8f;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.dec button:hover{
    background-color: #354f52;
}

.under{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #eee;
    padding: .8rem;
    border-radius: 5px;
}

.under h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #e76f51;
    margin-bottom:2rem ;
}

.container-under{
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.box-under{
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    position: relative;

    
}

.box-under img{
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.box-under h4{
    text-align: center;
    margin: 1rem 0;
    color: #003049;
    font-size: 1.3rem;
}

.box-under p{
    text-align: center;
    color: #ccc;
}

.box-under h6{
    position: absolute;
    top: 2rem; left: 3rem;
    background-color: #e76f51;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: .8rem;
}

.ourfood{
    width: 100%;
    max-width: 1200px;
    margin:2rem  auto;
}

.ourfood h2{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    color: #2a9d8f;
}

.container-our-food{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.container-our-food .box-our{
    border-radius: 5px;
    border: 1px solid lightgray;
}

.container-our-food .box-our img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.container-our-food .box-our h4{
    margin-top: .5rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.container-our-food .box-our button{
    height: 33px;
    width: 90%;
    display: flex;
    margin: .5rem auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #e76f51;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.container-our-food .box-our button:hover{
    background-color: #1d3557;
}

.ourfood_hover{
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .9);
    display: none;
}

.ourfood_hover.active{
    display: flex;
}

.box-our-hover {
    display: none;
}

.container-our-food-hover{
    display: block;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.box-our-hover.active{
    display: inline-block;
}

.close{
    position: absolute;
    right: -.6rem; top: -.6rem;
    font-size: 1.5rem;
    background: #e76f51;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
}


.close:hover{
    transform: rotate(90deg);
}

.box-our-hover .image-hover img{
    height: 17rem;
    object-fit: cover;
    border-radius: 5px;
}

.stars{
   margin-top:1rem ;
}

.stars .star{
    color: #fb8500;
    font-size: 1.2rem;
}

.stars span{
    margin-left: .2rem;
    color: #495057;
    font-weight: 700;
    font-size: .8rem;
}

.box-our-hover .details-hover h3{
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: #003049;
    font-size: 1.3rem;
}

.box-our-hover .details-hover h5{
    color: #ccc;
    margin-bottom: 1rem;
}

.box-our-hover .details-hover p{
    position: absolute;
    top: 1.6rem; left: 1.7rem;
    background-color: #003049;
    padding: .3rem .5rem;
    color: #fff;
    border-radius: 5px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btns .buy,
.btns .cart{
    height: 35px;
    width: 44%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #e76f51;
    color: #fff;
}

.btns .cart:hover{
    background-color: #e63946;
}

.btns .buy{
    color: #e76f51;
    background: #fff;
    border: 1px solid #e76f51;
}

.btns .buy:hover{
    background-color: #e63946;
    color: #fff;
}


.contact{
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    background: #eee;
    border-radius: 5px;
}

.container-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.box-contact{
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
}

.box-contact img{
   height: 10rem;
   object-fit: cover;
   display: flex;
   margin: auto;
}

.box-contact h1{
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    color: #e63946;
}

.box-contact p{
    text-align: center;
    font-weight: 600;
    color: #ccc;
}

.email{
    width: 100%;
    max-width: 1200px;
    margin:1rem auto;
}

.container-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.box-email .send-email h1{
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.box-email input{
    width: 250px;
    height: 35px;
    border: 1px solid lightgray;
    padding: 0 .5rem;
    border-radius: 5px 0px 0 5px;
}

.box-email button{
    width: 100px;
    height: 35px;
    background-color: #e76f51;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-right: 1rem;
}

.box-socail .follow-us h1{
    text-align: center;
    justify-content: center;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.box-socail img{
    height: 3rem;
    margin-left: 1rem;
}

.footer{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #eee;
    border-radius: 5px;
}

.container-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.box-footer h1,
.box-socail h1{ 
    text-align: center;
    color: #e63946;
    text-transform: uppercase;
    margin-bottom:1rem ;
}

.box-footer .link,
.box-socail .link{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: #003049;
    font-weight: bold;
}

.box-footer .link:hover,
.box-socail .link:hover{
    text-decoration: underline;
    color: #e63946;
    transition: all 0.2s linear;
}

.copyright{
    border-top: 1px solid lightgray;
    padding: .7rem;
}

.copyright h1{
    text-align: center;
    font-size: 1.2rem;
    color: #003049;
}

.copyright span{
    color: #e63946;
}

.about{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.about h1{
    text-align: center;
    margin: 3rem 0;
    text-transform: uppercase;
    color: #fb8500;
    letter-spacing: .1rem;
}

.about-container{
    display: flex;
}

.box-about{
    flex: 1;
}

.box-about h2{
    font-size: 1.7em;
    margin-bottom: 1rem;
}

.box-about p{
    letter-spacing: .1rem;

}

.box-image{
    flex: 1;
}

.box-image img{
    height: 25rem;
    display: flex;
    margin: auto;
}

.simple{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 3rem;
}

.container-simple{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.box-simple{
    background-color: #fff;
    padding:2rem;
    border-radius: 5px;
}

.box-simple img{
   height: 10rem;
   display: flex;
   margin: auto;
}

.box-simple h3{
    text-align: center;
    margin: 1rem 0;
    text-transform: capitalize;
    color: #264653;
}

.box-simple p{
    text-align: center;
}

.simple h1{
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    color: #e63946;
}

.contacts{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.contacts h2{
    text-align: center;
    margin: 2rem 0;
    color: #e63946;
    font-size: 1.7rem;
}

.container-contacts{
    display: flex;
}

.box-contacts{
    flex: 1 1 30rem;
    border: 2px solid #000;
    margin-right: 1rem;
    padding: 3rem;
    border-radius: 5px;
}


.box-contacts input{
    width: 100%;
    border-bottom:2px solid #000 ;
    margin-bottom: 1rem;
    height: 35px;
}

textarea{
    resize: none;
    width: 100%;
    height: 200px;
    border-bottom:2px solid #000 ;
}

.box-contacts button{
    margin-top: 1rem;
    height: 30px;
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0.4rem 2rem;
    cursor: pointer;
}

.box-contacts button:hover{
    background-color: #eee;
}

.map{
    flex: 1 1 30rem;
    margin-left: 1rem;
}

.leaflet-container {
    width: 100%;
    height: 500px;
    border-radius: 5px;
  }

  .signup{
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .form{
    width: 370px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
  }

  .form h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: #e63946;
    margin-bottom: 1rem;
  }

  .form p{
    margin: .5rem 0;
    color: #ccc;
  }

  .form span{
    color: #e63946;
  }

  .form input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 30px;
    padding: 0 .4rem;
  }

  .form button{
    margin-top: 1rem;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    background: #2a9d8f;
    cursor: pointer;
  }

  .form button:hover{
    background: #264653;
  }

  .form .already{
   margin-top: 1rem;
  }

  .form .link{
    font-size: .9rem;
    color: #1d3557;
    font-weight: 800;
  }

  .form .link:hover{
    text-decoration: underline;
  }

@media (max-width:768px) {
    .container-nav .navber{
        position: absolute;
        top: 9%; left: 0; right: 0;
        background: #fff;
        border-bottom: 1px solid lightgray;
        transition: all .3s linear;
    }

    .menu{
        display: inline-block;
    }

    .container-nav .navber .link{
        display: block;
        margin: 1rem;
        transition: all .3s linear;
    }

    .home{
        display: block;
    }

    .dec{
        margin: 1rem 0;
        text-align: center;
    }

    .image{
        justify-content: center;
    }

    .image .animation .left{
        position: absolute;
        left: 2rem;
        bottom: 5rem;
        opacity: 1;
        animation-name: iamge-left;
        animation-duration: 3s;
    }
    .container-our-food-hover{
        width: 90%;
        display: flex;
        margin: auto;
    }

    .close{
        position: absolute;
        right: -.7rem; top: -.5rem;
        color: #fff;
        background: #e63946;
        border-radius: 20px;
        font-size: 1.5rem;
    }
    .close:hover{
        transform: rotate(90deg);
    }
    .container-email{
        display: block;
    }

    .box-email input{
        width: 200px;
        margin-bottom: 1rem;
    }

    .box-socail .follow-us h1{
        margin-bottom: 1rem;
    }

    .container-footer{
        display: block;
    }

    .copyright h1{
        font-size: .79rem;
    }

    .container-contact{
        grid-template-columns: repeat(auto-fit,350px);
    }

    .about-container{
        display: block;
    }

    .box-about h2{
        font-size: 1.7em;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .box-about p{
        letter-spacing: 0rem;
        text-align: center;
        padding: 1rem;
    }

    .box-image img{
        height: 20rem;
    }

    .container-contacts{
        display: block;
    }
    
    .box-contacts{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 90%;
    }

    .leaflet-container{
        display: flex;
        width: 95%;
    }

}

